<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright (c) 2018, 2020 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v20.html

    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>

   <!-- Welcome Page Content -->
   <extension point="org.eclipse.ui.intro.configExtension">
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="intro/overview.xml"/>
      <action
            name="codewindGetStarted"
            replaces="runAction?pluginId=org.eclipse.codewind.ui&amp;class=org.eclipse.codewind.ui.internal.actions.GetStartedAction">
      </action>
   </extension>

   	<extension
         point="org.eclipse.ui.preferencePages">
         
         <page id="CodewindParentPage"
         	name="%PREFS_PARENT_PAGE_NAME"
         	class="org.eclipse.codewind.ui.internal.prefs.CodewindPrefsParentPage">
         </page>
         
         <!--
         <page id="CodewindConnectionsPage"
         	name="%PREFS_CONNECTION_PAGE_NAME"
         	category="CodewindParentPage"
         	class="org.eclipse.codewind.ui.internal.prefs.CodewindConnectionPrefsPage">
         </page>
         -->  
   	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="org.eclipse.codewind.core.internal.launchConfigurationTypeImage"
			configTypeID="org.eclipse.codewind.core.internal.launchConfigurationType"
			icon="%DEFAULT_ICON_PATH"/>
		<launchConfigurationTypeImage
			id="org.eclipse.codewind.core.internal.remoteLaunchConfigurationTypeImage"
			configTypeID="org.eclipse.codewind.core.internal.remoteLaunchConfigurationType"
			icon="%DEFAULT_ICON_PATH"/>
		<launchConfigurationTypeImage
			id="org.eclipse.codewind.core.internal.utilityLaunchConfigurationTypeImage"
			configTypeID="org.eclipse.codewind.core.internal.utilityLaunchConfigurationType"
			icon="%DEFAULT_ICON_PATH"/>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="org.eclipse.codewind.ui.internal.launchConfigTabGroup"
			type="org.eclipse.codewind.core.internal.launchConfigurationType"
			class="org.eclipse.codewind.ui.internal.CodewindLaunchConfigTabGroup"/>
	</extension>

	<!--  Extensions for Codewind Explorer View -->

	<extension point="org.eclipse.ui.views"> 
		<category
			id="org.eclipse.codewind.ui.views"
			name="%CODEWIND_CATEGORY_NAME"/>
		<view
			id="org.eclipse.codewind.ui.explorerView"
			name="%CODEWIND_VIEW_NAME"
			category="org.eclipse.codewind.ui.views"
			allowMultiple="false"
			icon="%DEFAULT_ICON_PATH"
			class="org.eclipse.codewind.ui.internal.views.CodewindExplorerView"/>
	</extension>

	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="org.eclipse.codewind.ui.explorerView">
			<includes>
				<contentExtension
					isRoot="true"
					pattern="org.eclipse.codewind.ui.navigatorContent"/>
			</includes>
		</viewerContentBinding>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			name="%NAVIGATOR_CONTENT_NAME"
			icon="%DEFAULT_ICON_PATH"
			activeByDefault="true"
			contentProvider="org.eclipse.codewind.ui.internal.views.CodewindNavigatorContentProvider"
			labelProvider="org.eclipse.codewind.ui.internal.views.CodewindNavigatorLabelProvider"  
			id="org.eclipse.codewind.ui.navigatorContent"> 
			<triggerPoints>
       		</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof value="org.eclipse.codewind.core.internal.CodewindManager"/>
					<instanceof value="org.eclipse.codewind.core.internal.connection.CodewindConnection"/>
					<instanceof value="org.eclipse.codewind.core.internal.CodewindApplication"/>
				</or>
			</possibleChildren>
			<commonSorter
					class="org.eclipse.codewind.ui.internal.views.CodewindNavigatorSorter"
					id="org.eclipse.codewind.ui.codewindNavigatorSorter">
			</commonSorter>
			<actionProvider
				id="org.eclipse.codewind.ui.rootActionProvider"
				class="org.eclipse.codewind.ui.internal.actions.RootActionProvider">
			</actionProvider>
			<actionProvider
				id="org.eclipse.codewind.ui.codewindActionProvider"
				class="org.eclipse.codewind.ui.internal.actions.CodewindActionProvider">
				<enablement>
					<or>
						<instanceof value="org.eclipse.codewind.core.internal.CodewindManager" />
					</or>
				</enablement>
			</actionProvider>
			<actionProvider
				id="org.eclipse.codewind.ui.localConnectionActionProvider"
				class="org.eclipse.codewind.ui.internal.actions.LocalConnectionActionProvider">
				<enablement>
					<or>
						<instanceof value="org.eclipse.codewind.core.internal.connection.LocalConnection" />
					</or>
				</enablement>
			</actionProvider>
			<actionProvider
				id="org.eclipse.codewind.ui.remoteConnectionActionProvider"
				class="org.eclipse.codewind.ui.internal.actions.RemoteConnectionActionProvider">
				<enablement>
					<or>
						<instanceof value="org.eclipse.codewind.core.internal.connection.RemoteConnection" />
					</or>
				</enablement>
			</actionProvider>
			<actionProvider
				id="org.eclipse.codewind.ui.applicationActionProvider"
				class="org.eclipse.codewind.ui.internal.actions.CodewindApplicationActionProvider">
				<enablement>
					<or>
						<instanceof value="org.eclipse.codewind.core.internal.CodewindApplication" />
					</or>
				</enablement>
			</actionProvider>
			<dropAssistant
				id="org.eclipse.codewind.ui.navigatorDropAssistant"
				class="org.eclipse.codewind.ui.internal.views.CodewindNavigatorDropAssistant">
				<possibleDropTargets>
					<or>
						<instanceof value="org.eclipse.codewind.core.internal.connection.CodewindConnection"/>
					</or>
				</possibleDropTargets>
			</dropAssistant>
		</navigatorContent>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.codewind.ui.appObjectActions"
			objectClass="org.eclipse.codewind.core.internal.CodewindApplication">
			<action
				id="org.eclipse.codewind.ui.refreshApplication"
				enablesFor="1"
				menubarPath="group.additions"
				icon="%REFRESH_ICON_PATH"
				label="%ACTION_REFRESH"
				class="org.eclipse.codewind.ui.internal.actions.RefreshAction"/>
		</objectContribution>
		<objectContribution
			id="org.eclipse.codewind.ui.connectionObjectActions"
			objectClass="org.eclipse.codewind.core.internal.connection.CodewindConnection">
			<action
				id="org.eclipse.codewind.ui.refreshConnection"
				enablesFor="1"
				menubarPath="group.additions"
				icon="%REFRESH_ICON_PATH"
				label="%ACTION_REFRESH"
				class="org.eclipse.codewind.ui.internal.actions.RefreshAction"/>
		</objectContribution>
		<objectContribution
			id="org.eclipse.codewind.ui.codewindActions"
			objectClass="org.eclipse.codewind.core.internal.CodewindManager">
			<action
				id="org.eclipse.codewind.ui.refreshCodewind"
				enablesFor="1"
				menubarPath="group.additions"
				icon="%REFRESH_ICON_PATH"
				label="%ACTION_REFRESH"
				class="org.eclipse.codewind.ui.internal.actions.RefreshAction"/>
		</objectContribution>
	</extension>

	<extension point="org.eclipse.ui.viewActions">
		<viewContribution
			id="org.eclipse.codewind.ui.explorerViewActions"
			targetID="org.eclipse.codewind.ui.explorerView">
			<action
				id="org.eclipse.codewind.ui.newCloudConnectionToolbarAction"
				label="%ACTION_NEW_CLOUD_CONNECTION"
				menubarPath="group.open"
				toolbarPath="group.open"
				icon="%NEW_REMOTE_ICON_PATH"
				class="org.eclipse.codewind.ui.internal.actions.AddConnectionToolbarAction">
			</action>
		</viewContribution>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category
			id = "org.eclipse.codewind.ui.new"
			name="%CODEWIND_CATEGORY_NAME">
		</category>
		<!--
		<wizard
			id="org.eclipse.codewind.ui.wizards.newConnection"
			name="%NEW_CONNECTION_MENU_LABEL"
			class="org.eclipse.codewind.ui.internal.wizards.NewCodewindConnectionWizard"
			category="org.eclipse.codewind.ui.new"
			icon="%DEFAULT_ICON_PATH">
			<description>%NEW_CONNECTION_DESCRIPTION</description>
		</wizard>
		-->
		<wizard
			id="org.eclipse.codewind.ui.wizards.newProject"
			name="%NEW_PROJECT_MENU_LABEL"
			class="org.eclipse.codewind.ui.internal.wizards.NewCodewindProjectWizard"
			category="org.eclipse.codewind.ui.new"
			project="true"
			icon="%DEFAULT_ICON_PATH">
			<description>%NEW_PROJECT_DESCRIPTION</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="org.eclipse.codewind.core.validationMarker"
			class="org.eclipse.codewind.ui.internal.marker.CodewindMarkerResolutionGenerator"/>
	</extension>
	
	<extension point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
      		id="org.eclipse.codewind.ui.socketConsolePageParticipant"
            class="org.eclipse.codewind.ui.internal.console.SocketConsolePageParticipant">
         <enablement>
            <instanceof value="org.eclipse.codewind.core.internal.console.SocketConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			adaptable="true"
			objectClass="org.eclipse.core.resources.IProject"
			id="org.eclipse.codewind.ui.internal.wizards.bindWizard">
			<menu
				label="%PROJECT_CONTEXT_MENU_NAME"
				path="additions"
				icon="%DEFAULT_ICON_PATH"
				id="org.eclipse.codewind.ui.internal.projectContextMenu">
				<separator
					name="popupActions">
				</separator>
			</menu>
			<action
				label="%BIND_PROJECT_ACTION"
				class="org.eclipse.codewind.ui.internal.actions.BindProjectAction"
				menubarPath="org.eclipse.codewind.ui.internal.projectContextMenu/popupActions"
				icon="%BIND_PROJECT_ICON_PATH"
				id="org.eclipse.codewind.ui.internal.wizards.bindProject">
			</action>
		</objectContribution>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
	    <editor id="org.eclipse.codewind.ui.editors.welcomePage"
	        name="Codewind Welcome Page"
	        icon="icons/codewind.png"
	        class="org.eclipse.codewind.ui.internal.editors.WelcomePageEditorPart"/>
	</extension>
	
	<extension point="org.eclipse.ui.elementFactories">
		<factory id="org.eclipse.codewind.ui.editors.welcomePageEditorInputFactory"
			class="org.eclipse.codewind.ui.internal.editors.WelcomePageEditorInputFactory"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
	    <editor id="org.eclipse.codewind.ui.editors.appOverview"
	        name="Application Overview"
	        icon="icons/codewind.png"
	        class="org.eclipse.codewind.ui.internal.editors.ApplicationOverviewEditorPart"/>
	</extension>
	
	<extension point="org.eclipse.ui.elementFactories">
		<factory id="org.eclipse.codewind.ui.editors.appOverviewEditorInputFactory"
			class="org.eclipse.codewind.ui.internal.editors.ApplicationOverviewEditorInputFactory"/>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type  
			id="org.eclipse.codewind.ui.editors.cwSettings" 
			name="%CW_SETTINGS_CONTENT_TYPE" 
			base-type="org.eclipse.wst.json.core.jsonsource"
			file-names=".cw-settings">
		</content-type>
	</extension>
	
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension 
			targetID="org.eclipse.jst.j2ee.J2EEPerspective">
	        <view id="org.eclipse.codewind.ui.explorerView" 
	                relative="org.eclipse.wst.server.ui.ServersView" 
	                relationship="stack"
	                visible="true"/>
	        <newWizardShortcut id="org.eclipse.codewind.ui.wizards.newProject"/>
	        <viewShortcut id="org.eclipse.codewind.ui.explorerView"/>
		</perspectiveExtension> 
	</extension>
	
	<extension point="org.eclipse.help.contexts">
		<contexts file="xml/CodewindUIContexts.xml" plugin="org.eclipse.codewind.ui" />
	</extension>

</plugin>
